<link rel="stylesheet" href="/css/user_profile.css">
<h1>
    clients / Profile Page
</h1>

<p><%= user.name %></p>
<p><%= user.email %></p>
<p><%= user.clientId %></p>
<p><%= user.clientSecret %></p>


        