
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/home.css">

<header>
    <div id="left-header">
        <img src="/images/website-icon.svg">
        <h2>GlowBadge</h2>
    </div>
    <div id="right-header">
        <a href="/" class="active">Home</a>
        <a href="/service">Service</a>
        <a href="/recources">Resources</a>
        <a href="/about-us">About Us</a>
        <a href="/clients/sign-in" class="highlight">Get Started</a>
    </div>
</header>

<div id="helper-text">
    <p id="main-helper-text">Best possible way to issue badges and cirtificates to multiple user</p>
    <p id="small-helper-text">Organization around the world uses our system to create & issue multiple badges for there users.
        It suppports the communities by issuing skill-based digital credentials.
    </p>

    <a href="/clients/sign-in">Get Started for free</a>
</div>


       