#wrapper-div {
    display: flex;
    font-family: sans-serif;
}
#left {
    width: 75vw;
}
#right {
    width: 25vw;
    box-sizing: border-box;
}
#top-bar-left-section {
    width: 100%;
    background-color: #ecf1fb;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 45px;
    box-sizing: border-box;
}

#website-logo {
    display: flex;
    align-items: center;
    font-size: 22px;
    font-family: sans-serif;
    font-weight: bold;
    color: rgb(75, 87, 143);
}

#website-logo a {
    color: rgb(75, 87, 143);
    text-decoration: none;
}

#website-logo img {
    margin-right: 25px;
}

#website-links {
    display: flex;
    justify-content: space-between;
    width: 60%;
    align-items: center;
}

#website-links input {
    height: 35px;
    border-radius: 20px;
    border: none;
    outline: none;
    box-shadow: 0px 0px 4px 0px grey;
    width: 35%;
    padding-left: 2%;
}

#top-bar-rigth-section {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 35px;
    background-color: #ecf1fb;
}

#profile-image img {
    width: 45px;
    height: 45px;
    border-radius: 25px;
}

#user-info {
    margin: 0 15px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: grey;
}

#user-info p {
    margin: 0;
    padding-left: 0;
}

#drop-down {
    position: relative;
}

#drop-down-hidden {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    top: 25px;
    right: -30px;
    width: max-content;
    border: 1px solid lightgrey;
    padding: 2px 12px;
    /* text-decoration: none; */
    box-shadow: 0 0 2px lightgrey;
    border-radius: 8px;
    display: none;
}

#drop-down:hover #drop-down-hidden {
    display: initial;
}

#drop-down-hidden a {
    text-decoration: none;
    font-size: 16px;
    color: black;
}

.links {
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-weight: bold;
    font-size: larger;
}

.active {
    color: #5c5ce0;
    border-bottom: 2px solid;
}

#heading {
    padding: 10px 50px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

#heading select {
    width: 180px;
    height: 40px;
    border-radius: 20px;
    padding-left: 20px;
    outline: none;
    margin-right: 26vw;
}

#heading h2 {
    font-family: sans-serif;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 40px;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    box-shadow: 0 0 7px 3px rgb(167 255 237);
    border-radius: 10px;
    height: max-content;
    font-family: sans-serif;
}

.grid-item img {
    width: 200px;
}

.grid-item p {
    color: rgb(78 174 220);
    text-align: start;
    margin: 0;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}

.grid-item div {
    display: flex;
    justify-content: space-between;
}

.grid-item div p {
    display: flex;
    font-size: 14px;
    align-items: center;
    color: rgb(64, 64, 248);
}

/* /////////////////////////////// backdrop //////////////////////////////////////////*/
#backdrop{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

#pop-up{
    width: 80%;
    height: 80%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    padding: 20px 30px;
    box-sizing: border-box;
    align-items: center;
    border-radius: 10px;
}

#pop-up:after {
    content:"";
    position: absolute;
    top: 15%;
    bottom: 0;
    left: 50%;
    border-left: 2px solid #ccc;
    transform: translate(-50%);
    z-index: 10;
    height: 70%;
}

#badge {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    height: max-content;
    font-family: sans-serif;
}


#badge p {
    color: rgb(78 174 220);
    text-align: center;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;

}

#badge div {
    display: flex;
    justify-content: space-between;
}

#badge div p {
    display: flex;
    font-size: 14px;
    align-items: center;
    color: rgb(76,88,144);
}

#qr-code-and-cirtificate{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#qr-code-and-cirtificate h2{
    font-weight: bold;
    color: navy;
    text-align: center;
}

#cirtificate button{
    background-color: rgb(0,0,122);
    color: white;
    border: none;
    outline: none;
    height: 40px;
    width: 180px;
    border-radius: 10px;
    margin-top: 30%;
}
